# --- DataSets & ML ---
numpy
pandas
scikit-learn

# --- FastAPI & server ---
fastapi
pydantic
jinja2
uvicorn[standard]

# --- MCP ---
fastmcp

# --- LangChain ---
langchain
langchain_mcp_adapters
langchain_community
langchain_ollama
langchain_text_splitters
unstructured[md]
faiss-cpu