# --- DataSets & ML ---
numpy
pandas
scikit-learn
kagglehub

# --- FastAPI & server ---
fastapi
pydantic
jinja2
uvicorn[standard]

# --- MCP ---
fastmcp

# --- LangChain ---
langchain
langchain_mcp_adapters
langchain_community
langchain_ollama
langchain_openai
langchain_text_splitters
langchain_huggingface
sentence-transformers
unstructured[md]
faiss-cpu

# --- Visualization ---
matplotlib
seaborn